<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-brand></app-brand>
        </div>
        <div class="col-md-4">
            <app-color></app-color>
        </div>
        <div class="col-md-4">
            <app-customer></app-customer>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-car></app-car>
        </div>
        <div class="col-md-6">
            <app-rental></app-rental>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>